<%= form_with(model: work) do |form| %>
	<% if work.errors.any? %>
		<div style="color: red">
			<h2><%= pluralize(work.errors.count, "error") %> prohibited this work from being saved:</h2>
			<ul>
				<% work.errors.each do |error| %>
					<li><%= error.full_message %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div class="mt-5 mb-3">
		<%= form.rich_text_area :body, class: "form-control vh-100" %>
	</div>
	<button class="border-0 bg-transparent position-absolute top-0 end-0 mt-3 mx-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-gear"></i></button>
	<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
		<div class="offcanvas-header">
			<h5 id="offcanvasRightLabel">Project Settings</h5>
			<button type="button"  class="border-0 bg-transparent" data-bs-dismiss="offcanvas" aria-label="Close"><i class="fa-solid fa-xmark fa-xl"></i></button>
		</div>
		<div class="offcanvas-body">
			<div class="container">
				<%= form.label :title, class: "form-label" %>
			</div>
			<div>
				<%= form.text_field :title, class: "form-control mb-3"%>
			</div>
			<div class="container ">
				<%= form.label :Description, class: "form-label" %>
			</div>
			<div>
				<%= form.text_field :description, class: "form-control mb-3", style: "height:120px"%>
			</div>
			<div class="container ">
				<%= form.label :Specialty, class: "form-label" %>
			</div>
			<%= form.select :specialty, Work::Specialty , { :include_blank => "Select Specialty" }, class:"form-select mb-3" %>
			<div class="container ">
				<%= form.label :goal, class: "form-label" %>
			</div>
			<div>
				<%= form.select :goal, ['Publication', 'Presentation', 'Publication/Presentation '],{:prompt => "Select Goal"},class: "form-select mb-3 " %>
			</div>
			<div class="container ">
				<%= form.label :Timeline_in_weeks, class: "form-label"%>
			</div>
			<div >
				<%= form.number_field :timeline, in: 1.0..20.0, step: 1, class: " mb-3 form-control"%>
			</div>
		</div>
	</div>
	<div style= "margin-left: 2rem" class=" position-absolute top-0 start-5 mt-3 ">
		<%= link_to "Projects", works_path,class: "text-muted text-decoration-none"%>
		<%= form.submit "Save", class: "text-muted border-0 bg-transparent "%>
	</div>
<% end %>
