<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
	<div class="container-fluid">
		<%= link_to root_path do %>
			<%= image_tag "lyceum_logo.png", height: 50, class: "navbar-brand"%>
		<% end%>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<%= link_to "Home", root_path, class: "nav-link active"%>
				</li>
				<li class="nav-item">
					<%= link_to "Projects", works_path, class: "nav-link active"%>
				</li>
				<li class="nav-item">
					<%= link_to "About", pages_about_path, class: "nav-link active"%>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="#" tabindex="-1" aria-disabled="true">Contact</a>
				</li>
			</ul>
			<form class="d-flex">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-warning" type="submit">Search</button>
			</form>
			<ul class="navbar-nav">
				<%= render "shared/notifications" %>
			</ul>
			<ul class="navbar-nav">
				<%=render "user/session_manager" %>
			</ul>
		</div>
	</div>
</nav>
